<div class="container" *ngIf="movie">
  <br />
  <div class="d-flex flex-wrap align-content-center justify-content-start">
    <div class="movie__thumbnails">
      <img [src]="movie.poster_med" />
    </div>
    <div class="movie__headline align-self-end">
      <b>{{ movie.title }}</b>
      <br />
      <i>{{ movie.runtime }}</i>

      <app-rating [rating]="movie.rating"></app-rating>
      <button mat-raised-button (click)="showTrailer(movie.trailer)">
        <mat-icon style="margin-bottom:4px;">play_circle_outline</mat-icon>
        Watch Trailer
      </button>
    </div>
  </div>
  <hr />
  <div>
    <mat-chip-list>
      <mat-chip *ngFor="let genre of movie.genres">{{ genre }}</mat-chip>
    </mat-chip-list>
    <p>
      <b>Story: </b>
      {{ movie.description }}
    </p>
  </div>
  <br />
  <br />
  <button mat-raised-button routerLink="/movies">find another movie</button>
</div>
