<mat-toolbar>
  <mat-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>
    <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example heart icon"
      >star_border</mat-icon
    >

    <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example delete icon"
      >delete</mat-icon
    >
  </mat-toolbar-row>
</mat-toolbar>
<br />
<div
  class="movie-list"
  class="d-flex flex-wrap align-content-center justify-content-center"
>
  <div class="movie-item" *ngFor="let movie of movies">
    <mat-card style="width:200px">
      <img
        mat-card-image
        src="assets/images/movie-covers/{{ movie.img }}"
        alt="movie.title"
      />
      <mat-card-content>
        <p>
          {{ movie.name }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <app-rating [rating]="movie.rate"></app-rating>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
