<br />
<div
  class="movie-list"
  class="d-flex flex-wrap align-content-center justify-content-center"
>
  <div class="movie-item" *ngFor="let movie of movies">
    <a routerLink="/movies/{{ movie.id }}">
      <mat-card>
        <img
          mat-card-image
          src="assets/images/movie-covers/{{ movie.img }}"
          alt="movie.title"
        />
        <mat-card-content>
          <p>
            <b>
              {{ movie.name }}
            </b>
            <br />
            <i> {{ movie.length }}</i>
            <app-rating [rating]="movie.rate"></app-rating>
          </p>
        </mat-card-content>
        <!-- <mat-card-actions> </mat-card-actions> -->
      </mat-card></a
    >
  </div>
</div>
